/*
Colors used:
Primary Color (Peach): #ffd89b;
Secondary Color (Grey): #b5b3b4;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #514f4f;
}

h1, h2, h3, h4 {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 700;
}

img {
  width: 100%;
}

/*circle avatar*/
/*.avatar {
  width: 250px;
  height: 270px;
  border-radius: 50%;
}*/
a {
  color: #514f4f;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #ffd89b;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #ffd89b;
}

a:active {
  /* selected link */
  color: #b5b3b4;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  border: 2px solid #514f4f;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  color: #ffffff !important;
  /* to override the default link color */
  background-color: #514f4f;
  border: 2px solid #514f4f;
}

.center-button {
  text-align: center;
}

/* Layout styling */
header {
  /*text-align: center;*/
  background-color: white;
  padding: 0px 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.25);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 200px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#hero h1 {
  text-align: center;
}

.kerning {
  letter-spacing: -1.5px;
}

.logo {
  max-width: 175px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

/*nav>ul>li {
  display: inline-block;
}*/
.navtoggle li:not(:last-child) {
  display: none;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #514f4f;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
}

.project {
  padding: 0px 15px;
  text-align: center;
}

.footer {
  padding: 0px 15px;
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  main {
    padding-top: 150px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .logo {
    max-width: 250px;
  }

  body {
    font-size: 18px;
  }

  #hero h1 {
    text-align: center;
  }

  #work h1 {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes color-change {
    0% {
      fill: #edc655;
    }

    50% {
      fill: #fcffad;
    }

    100% {
      fill: #f76414;
    }
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }

    to {
      transform: translate(200px, 50px);
    }
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }

    to {
      transform: translate(100px, 48px);
    }
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
